*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
}
.main{
    margin-top: 50px;
}
.img{
    height: 30px;
    width: 50px;
    border: 2px solid black;
    
}
select{
padding: 10px;
padding-right: 35px;
border-radius: 30px;
}

/*20/10/2023*/
.section{
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 5%;
}
.section0{
    display: flex;
    justify-content: center;
    gap: 2%;
}
.contenedor_boton2{
    display: flex;
    margin-top: 20px;
    height: 70px;
    justify-content: center;
    align-items: center;
}
.boton{
    padding: 15px;
    border-radius: 20px;
    border: 2px rgb(187, 29, 29) solid;
    background-color: #fafafa;
    cursor: pointer;
}

.grid_cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    place-items: center;
}



 .grid_cards .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(12, 12, 12, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;

}


.grid_cards .card:hover{


    transform: translateY(-15px);
    box-shadow: 0 12px  16px rgba(23, 23, 23, 0.345);
}


.grid_cards .card img {
width: 80%;
height: 60%;
margin: 0 auto;


}
.card button{
  
    width: 80%;
    height: 50px;
    margin-top: 80px;
    border-radius: 10px;
    cursor: pointer;
}



button:hover{
    color: red;
    box-shadow: 0 12px  16px rgba(23, 23, 23, 0.345);
}


footer {
    margin-top: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

footer h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.contacto, .politica-privacidad, .ubicacion {
    width: 100%;
 text-align: center;
}

/* Estilos para los enlaces en el pie de página */
.a2 {
    color: #fff;
    text-decoration: underline;
}

.a2:hover {
    color: #ff9900;
    text-decoration: none;
}